{% extends "base.html" %}
{% block content %}
  <h2>Welcome!</h2>
  <p>
    Find a portmanteau between two words using a graph search that finds words to link between them!
  </p>
  <p>
    Made for <a href="http://terriblehack.website">TerribleHack XIII</a>, the premier terrible ideas hackathon in Waterloo.
  </p>
  <h2>Examples</h2>
  <ul>
    <li><a href="/?start=terriblehack&end=portmanteau">terriblehack and portmanteau</a></li>
    <li><a href="/?start=magical&end=walrus">magical and walrus</a></li>
  </ul>
{% endblock content %}
